/*ot application form css*/
.ot_request_background
{

    background-color: #EEEEEE;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;
  
}
.ot_application_form
{
    background-color: #EEEEEE;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;
}  
.ot_request_employee
{

    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;
}
.ot_request
{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;
}
.ot_request td, .ot_request th
    {
        border: 2px solid silver;
        padding: 5px;
    }

     .ot_request table
    {
        width: 60%; 
        margin-left: auto;
        margin-right: auto;

    }
/*submitted_ot_forms css */
.submitted_ot_forms
{
        background-color: #EEEEEE;
        border: 2px solid silver;
        border-radius: 5px;
        padding: 15px 10px 30px 10px; 
}
.submitted_ot_forms td, .submitted_ot_forms th
    {
        border: 2px solid silver;
        padding: 5px;
        width: 7%;
        text-align:right;
    }
.submitted_ot_forms table
    {
        width: 19%; 
        margin-left: auto;
        text-align:right;
        background-color: #ffffff;
    }
.submitted_ot_forms p
    {
        text-align: center;
        background-color: #ffffff;
    }
.submitted_ot_forms_data
{
    background-color: #ffffff;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px; 
}
.submitted_ot_forms_data td, .submitted_ot_forms_data th 
    {
        border: 2px solid silver;
        padding: 5px;
        width: 7%;
        text-align: center;
    }
 .submitted_ot_forms_data table
    {
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
#sample_id table
{
        width: %; 
        margin: auto;
        text-align:left;
        background-color: #ffffff;
}
#sample_id td
{
        border: 2px solid silver;
        padding: 5px;
        width: 81.5%;
        text-align: left;
}
.#sample_id p
    {
        text-align: left;
        background-color: #ffffff;
    }
.ot_pending
{
    background-color: #EEEEEE;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;

}  

.Pending_ot_forms
{
        background-color: #EEEEEE;
        border: 2px solid silver;
        border-radius: 5px;
        padding: 15px 10px 30px 10px; 
}