/**
 * Employee CSS
 */
#employee-table tr, #employee-table td
{
border : none;
padding: 10px;
}

.employee-textfield
{
-webkit-border-radius: 5px;
background-color: #EAEAEA;
font-size: 17px;
height: 30px;
width: 200px;
}

.employee-birthdate
{
-webkit-border-radius: 5px;
background-color: #EAEAEA;
font-size: 17px;
height: 30px;
width: 200px;    
}

.employee-dd
{
-webkit-border-radius: 5px;
font-size: 17px;
height: 30px;
width: 200px;
}

#leave-table table, th, td
{
    /*
    border: 1px solid black;
    border-collapse: collapse;
    */
    background-color: white;
    

}

#leave-table
{
    border: 1px solid black;
    border-collapse: collapse;
    border-width: 4px;
    border-spacing: 1px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

#leave-body
{
    background-image: url("http://localhost/Projects/ImperiumHRM/images/grid.png");
    background-repeat: repeat-xy;
    background-color: #EEEEEE;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px 10px 30px 10px;
}

#leave-credits-home
{
    /*width: 300px;*/
    padding: 10px;
}

#leave-filed-home
{
    /*width: 100%;*/
    padding: 10px;
}

#home-leavecredits-table
{
/*    border: 1px solid black;
    border-collapse: collapse;
    border-width: 4px;
    border-spacing: 1px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;*/
    background-color: white;
}

#home-leavefiled-table
{
    /*border: 1px solid black;
    border-collapse: collapse;
    border-width: 4px;
    border-spacing: 1px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;*/
    background-color: white;
}

.panel1-dashboard
{
    width: 400px;
}

.panel2-dashboard
{
    width: 500px;
}