/**
 * ImperiumHRM Custom CSS File
 */

table td, table th    {
    padding: 0px;    
}

.container
{
    width: 100%;
}

.content
{
    margin: .25in;
}

.footer
{
    margin: .5in;
    border-top: 1px solid silver;
    padding: 20px;
    text-align: center;
}


/**
 * Bootstrap Override
 */

.image-header
{
    margin-left: -.3in;
    width: 100%;
    overflow: hidden;
}

.brand {display: none !important}

/**
 * Navbar Override
 */

.navbar-default {
    background-color: #428bca;
    border-color: #c0c0c0;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #c0c0c0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #c0c0c0;
}
.navbar-default .navbar-toggle {
    border-color: #c0c0c0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #c0c0c0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #c0c0c0;
    }
}

.navbar-nav > li > a {padding-top:8px !important; padding-bottom:8px !important;}
.navbar {min-height:32px !important;}
.navbar-brand {min-height:32px !important;}

/** 
 * Payroll Base CSS
 */

 /**
  * Container
  */
  .payroll-container
  {
    background-image: url("../../images/grid.png");
    background-repeat: repeat-xy;
    background-color: #EEEEEE;
    padding: 5px 35px 25px 35px;
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;
  }

    .payroll-container p {color: gray;}

    .payroll-container input[type=submit], .payroll-container button
    {
        margin-top: 10px;
    }

    .payroll-container a
    {
        color: #333;
    }

    .payroll-container a:hover
    {
        color: #428bca;
        text-decoration: none;
    }

 /**
  * Header
  */
  .payroll-header
  {
    width: auto;
    padding: 5px;
    border: 1px solid #428bca;
    border-bottom: 0px;
    background-color: #428bca;
    color: white;
    margin-top: 10px;
  }

    .payroll-header .caret
    {
        float: right;
        margin-top: 7px;
        margin-right: 5px;
    }

 /**
  * Panel
  */
  .payroll-panel
  {
    width: auto;
    border: 1px solid #ddd;
    background-color: white;
    padding: 15px;
  }

/**
 * Schedule
 */

.schedulenav    {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    .schedulenav li    {
        display: inline-block;
    }

    .schedulenav li:first-child {
        float:left;
        padding-bottom: 4px;

    }

    .schedulenav li:nth-child(2)    {
        float: none;
        margin-top: 15px;
        /*margin-top: 15px;
        display: table;
        float: left;
        margin-left: auto;
        margin-right: auto;*/
    }

    .schedulenav li:last-child {
        float: right;
        padding-bottom: 4px;
    }